@mixin scrollBarCSS {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 0.45rem;
    width: 0.45rem;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}
.home-container {
  margin: 0;
  left: 0;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  color: white;
  gap: 1rem;
}

.schedule-contatiner {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  padding-right: 0.75rem;
  overflow: hidden;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  @include scrollBarCSS();

  .content {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    transition: all ease 500ms;

    img {
      height: 15rem;
      width: 10rem;
      border-radius: 1rem;
      transition: all ease 500ms;
    }

    .content-text {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;
      background: rgba(185, 185, 185, 0.2);
      border-radius: 1rem;
      position: relative;
      // &::after {
      //   content: "";
      //   position: absolute;
      //   // width: 100%;
      //   // height: 100%;
      //   // left: 0;
      //   // top: 0;
      //   border-radius: 1rem;
      //   z-index: -1;
      //   background: linear-gradient(
      //     to right,
      //     rgba(185, 185, 185, 0.2) 90%,
      //     rgba(227, 28, 37, 0.7) 98%
      //   );
      //   transition: background 1s ease;
      // }

      // &:hover::after {
      //   content: "";
      //   // position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   left: 0;
      //   top: 0;
      //   border-radius: 1rem;
      //   z-index: 1;
      //   background: linear-gradient(
      //     to right,
      //     rgba(185, 185, 185, 0.05) 90%,
      //     rgba(227, 28, 37, 0.7) 98%
      //   );
      // }
    }

    &:hover {
      transform: translateX(1rem);
      img {
        transform: scale(1.05, 1.1) translateX(1rem);
      }
    }
  }
}
.right-conatiner {
  width: 75%;
  height: inherit;
  gap: 1rem;
  // outline: auto;
  .carousel-container {
    height: 45%;
    width: 100%;
    display: flex;
    gap: 3rem;
    justify-content: flex-start;
    padding-left: 4rem;
    overflow: hidden;
    overflow-x: scroll;
    @include scrollBarCSS();

    .carousel-content {
      background: rgba(185, 185, 185, 0.2);
      border-radius: 1rem;
      height: 18rem;
      min-width: 20rem;
      position: relative;
      align-self: center;
      display: flex;

      &::after {
        content: "";
        position: absolute;
        height: 0rem;
        width: 0rem;
        right: 0;
        bottom: 0;
        transition: 500ms all ease;
      }
      &:hover::after {
        content: "";
        position: absolute;
        height: inherit;
        width: 20rem;
        right: 0;
        bottom: 0;
        border-radius: 1rem;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
      }

      &::before {
        content: "";
        position: absolute;
        height: 0rem;
        width: 0rem;
        transition: 500ms all ease;
      }
      &:hover::before {
        content: "";
        position: absolute;
        height: inherit;
        width: 20rem;
        border-radius: 1rem;
        border-top: 1px solid white;
        border-left: 1px solid white;
      }

      img {
        height: 12rem;
        width: 10rem;
        border-radius: 1rem;
        margin-left: -2rem;
        margin-top: -3rem;
        transition: 500ms transform ease;
      }
      .text-box {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
      }

      &:hover {
        img {
          transform: scale(1.1);
          transition: 500ms transform ease;
        }
      }
    }
  }
}
