@font-face {
  font-family: "Exo 2", sans-serif;
  /*a name to be used later*/
  src: url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap");
  /*URL to font*/
}

.App {
  font-size: 24rem;
  font-family: "Exo 2", sans-serif;
}
