@font-face {
  font-family: 'Audiowide', cursive;
  /*a name to be used later*/
  src: url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
  /*URL to font*/
}

.anime-container {
  height: calc(100% - 5rem);
  width: 100%;
  overflow: scroll;
  padding: 2.5rem;

  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
  }

  .title-font {
    // color: #c10205;
    font-size: 24px;
    // margin: auto;
    font-family: 'Audiowide', cursive;
  }

  .search-result-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 1rem;

    .img-display {
      position: relative;
      cursor: auto;
    }

    .image-img {
      display: block;
      width: 100%;
    }

    .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #FFFBF2;
      font-family: 'Audiowide', cursive;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.25s;
      cursor: default;

      &:hover {
        opacity: 1;
      }

      .image-title {
        cursor: default;
        font-size: 0.75rem;
      }


    }

    // .image__overlay>* {
    //   transform: translateY(20px);
    //   transition: transform 0.25s;
    // }

    // .image__overlay

    // .image__overlay:hover>* {
    //   transform: translateY(0);
    // }


  }
}