@font-face {
  font-family: 'Audiowide', cursive;
  /*a name to be used later*/
  src: url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
  /*URL to font*/
}

.home-container {
  height: calc(100% - 5rem);
  width: 100%;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
  }

  .title-font {
    // color: #c10205;
    font-size: 24px;
    // margin: auto;
    font-family: 'Audiowide', cursive;
  }
}