@mixin textFormat($cursorFormat) {
  color: rgba(255, 251, 242);
  padding: 1rem;
  user-select: none;
  &:hover {
    color: rgba(193, 2, 6);
    transition: 0.4s;
    opacity: 1;
    cursor: $cursorFormat;
  }
}

@mixin iconFormat {
  color: rgba(255, 251, 242);
  opacity: 0.8;

  &:hover {
    color: rgba(193, 2, 6);
    transition: 0.4s;
    opacity: 1;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.closeBtn {
  &:hover {
    color: rgba(193, 2, 6);
    transition: 0.4s;
    opacity: 1;
  }
}
.text {
  @include textFormat(pointer);
}
.menuText {
  @include textFormat(pointer);
}
.bodyText {
  // border: 1px solid white;
  font-size: 1px;
  margin: 8rem 15rem 0rem 20rem;
  height: fit-content;
}
.bodyImage {
  max-width: 100%;
  height: 42rem;
  border-radius: 5%;
  opacity: 0.6;
}
.bodyTextFormat {
  color: rgba(255, 251, 242);
  padding: 1rem;
}
.navBar {
  background: transparent !important;
  box-shadow: none !important;
  // color: white;
  // border: 1px solid black;
}
.menuIcon {
  @include iconFormat;
}

.arrowLeftIcon {
  @include iconFormat;
  align-self: center;
}
.arrowRightIcon {
  @include iconFormat;
  padding-left: 1rem;
  align-self: center;
  // justify-self: end;
}
.menuContainer {
  width: 15vw;
  height: 100%;
  background-color: rgba(33, 29, 33);
  // border-radius: 10%;

  .menuHeader {
    justify-content: space-between;
  }
}

.topBody {
  // border: white 1px solid;
  display: flex;
  padding-top: 5rem;
}
