@mixin textFormat($cursorFormat) {
  color: rgba(255, 251, 242);
  padding: 1rem;
  user-select: none;
  &:hover {
    color: rgba(193, 2, 6);
    transition: 0.4s;
    opacity: 1;
    cursor: $cursorFormat;
  }
}

.closeBtn {
  &:hover {
    color: rgba(193, 2, 6);
    transition: 0.4s;
    opacity: 1;
  }
}
.text {
  @include textFormat(pointer);
}
.menuText {
  @include textFormat(pointer);
}
.navBar {
  background: transparent !important;
  box-shadow: none !important;
  // color: white;
  // border: 1px solid black;
}
.menuIcon {
  color: rgba(255, 251, 242);
  opacity: 0.8;

  &:hover {
    color: rgba(193, 2, 6);
    transition: 0.4s;
    opacity: 1;
  }
}

.menuContainer {
  width: 15vw;
  height: 100%;
  background-color: rgba(33, 29, 33);
  // border-radius: 10%;

  .menuHeader {
    justify-content: space-between;
  }
}
